// Variables
$loadingImage: "../images/loading.gif";
$pageOneBG: "../images/page1_bg.png";
$weixinImage: "../images/weixin.png";
$huadongOne: "../images/weixin.png";
$pageTwoBG: "../images/page2_bg.png";
$pageNameOne: "../images/mumua.png";
$pageNameTwo: "../images/mix.gif";
$pageTwoFooter: "../images/mess_footer.png";
$pageThreeBG: "../images/page3_bg2.png";
$pageThreePhonePhote: "../images/mumua1.jpg";
$pageThreeAnswer: "../images/toAnser.png";

$pageThreeHangup: "../images/hangup.png";


